@import url("https://use.typekit.net/okm0fpl.css");

.apexcharts-text tspan,
text.apexcharts-text.apexcharts-xaxis-label,
.apexcharts-xaxis-label,
.apexcharts-yaxis-label,
.apexcharts-text {
  font-family: 'Futura-PT', sans-serif !important;
  rotate: -45; /* tilt the labels */
}

.mixed-chart {
  border-radius: 8px;
  font-family: 'Futura-PT', sans-serif;
}

.apexcharts-canvas {
  margin: 0 auto;
}

.app {
  font-family: 'Futura-PT', sans-serif;
  text-align: center;
}

body.light span.apexcharts-legend-text {
  font-family: 'Futura-PT', sans-serif !important;
  color: #1a1a1a !important;
  letter-spacing: .5px;
}

body.dark span.apexcharts-legend-text {
  font-family: 'Futura-PT', sans-serif !important;
  color: #ffc3f8 !important;
  letter-spacing: .5px;
}