.apexcharts-text tspan,
text.apexcharts-text.apexcharts-xaxis-label,
.apexcharts-xaxis-label,
.apexcharts-yaxis-label,
.apexcharts-text {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500 !important;
}

.mixed-chart {
  padding: 10px;
  border-radius: 8px;
}

.apexcharts-canvas {
  margin: 0 auto;
}
