@import url("https://use.typekit.net/okm0fpl.css");


.apexcharts-text tspan,
text.apexcharts-text.apexcharts-xaxis-label,
.apexcharts-xaxis-label,
.apexcharts-text {
  font-family: 'Futura-PT', sans-serif !important;
  rotate: -45; /* tilt the labels */

}

.mixed-chart {
  padding: 10px;
  border-radius: 8px;
}

.apexcharts-canvas {
  margin: 0 auto;
}
