@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

#root {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.img-wrapper {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.logo {
    height: 5em;

  margin-top: 20px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #3d1ca74e);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ------ Charts */
tspan {
  color: #fafafa;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.flex-row {
  margin: 0 auto;
  justify-content: center;
}

.app-container {
  margin: 0px auto;
  padding: 10px;
}

.chart-title {
  color: #fafafa;
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
}

.card {
  margin: 0 auto;
  float: none;
}

@media (min-width: 768px) {
.flex-row {
  display: flex;
  justify-content: center;
}
  .card {
    padding: 20px;
  }
  .logo {
    height: 20em;
  }
}