@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

.app-container {
  margin: 0px auto;
}

.img-wrapper {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.logo {
  height: 6em;
  margin-top: 20px;
  /* margin-left: 20px; */
  will-change: filter;
  transition: filter 300ms;
    animation: fadeIn 5s ease-in-out forwards; /* Apply the animation */

}

.logo:hover {
  filter: drop-shadow(0 0 2em #3d1ca74e);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------ Charts */
tspan {
  color: #fafafa;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.flex-row {
  margin: 0 auto;
  justify-content: center;
  max-width: 100%;
}

.chart-row {
  background: rgba(255, 255, 255, 0.085);
  box-shadow: 0 8px 32px 0 rgba(66, 11, 138, 0.364);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4px); /* For Safari compatibility */
  border-radius: 10px;
  border: none;
  max-width: 100%;
  height: auto;
  width: fit-content;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


@media (min-width: 768px) {
  .chart-row {
    min-height: 400px;
  }

  .flex-row {
    align-items: stretch;
  }

  .card-col {
    display: flex;
  }

  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.card-col {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.app-title,
.chart-title {
  color: #fafafada;
  font-family: "Futura-PT", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.chart-title {
  font-weight: 400;
  font-size: 1.254rem;
  letter-spacing: 1px;
}

.app-title {
  font-weight: 400;
  animation: fadeIn 3s ease-in-out forwards; /* Apply the animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with fully transparent text */
  }
  100% {
    opacity: 1; /* End with fully opaque text */
  }
}


.card {
  margin: 0 auto;
  float: none;
}

@media (min-width: 768px) {
  .flex-row {
    display: flex;
    justify-content: center;
  }

  .card {
    padding: 0px 10px;
  }
  .card-col {
    max-width: 50%;
  }
  .logo {
    height: 8em;
  }
}
