@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

.app-container {
  margin: 0px auto;
  
}


.img-wrapper {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.logo {
  height: 6em;
  margin-top: 20px;
  /* margin-left: 20px; */
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {

  filter: drop-shadow(0 0 2em #3d1ca74e);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------ Charts */
tspan {
  color: #fafafa;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.flex-row {
  margin: 0 auto;
  justify-content: center;
  max-width: 100%;
}

.chart-row {
  margin: 20px;
   background: rgba(255, 255, 255, 0.168);
  box-shadow: 0 8px 32px 0 rgba(131, 135, 197, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4px); /* For Safari compatibility */
  border-radius: 10px;
  border: none;
  /* margin-left:30px;
  margin-right:30px; */
}

@media (min-width: 768px) {
  .chart-row {
    min-height: 400px;
  }
  
  .flex-row {
    align-items: stretch;
  }
  
  .card-col {
    display: flex;
  }
  
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.card-col {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.app-title,
.chart-title {
  color: #fafafa;
  font-family: "Futura-PT", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.chart-title {
  font-weight: 400;
  font-size: 1.254rem;
  letter-spacing: 1px;
}

.app-title {
  font-weight: 400;
  color: #ff74f3d9;
}

.card {
  margin: 0 auto;
  float: none;
}

@media (min-width: 768px) {
  .flex-row {
    display: flex;
    justify-content: center;
  }
  
  .card {
    padding: 0px 10px;
  }
  .card-col {
    max-width: 50%;
  }
  .logo {
    height: 8em;
  }
  .chart-row {
  margin: 30px;
   background: rgba(255, 255, 255, 0.19);
    -webkit-backdrop-filter: blur(4px); /* For Safari compatibility */
  }
}
