#root {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 10em;
  margin: 0 auto;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.flex-row {
  margin: 0 auto;
  justify-content: center;
}

.app-container {
  margin: 0px auto;
  padding: 10px;
}

.chart-title {
  color: #fb65b7;
}

.card {
  margin: 0 auto;
  float: none;
}

@media (min-width: 768px) {
.flex-row {
  display: flex;
  justify-content: center;
}
  .card {
    padding: 20px;
  }
  .logo {
    height: 20em;
  }
}